---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  <div>
    <div class="main-col main-col-1">
      <div>
        <div class="left-col">
          <h2 class="post-list-heading">Chenxing Wang - 王晨星</h2>
          <article class="post h-entry" itemscope="" itemtype="http://schema.org/BlogPosting">
            <div class="post-content e-content" itemprop="articleBody">
              <p>
                <img align="left" width="120" hspace="10" src="{{ "http://lc-avefaaux.cn-n1.lcfile.com/cc956d741cf55a3f9fad/41356695.jpeg" | relative_url }}">
                I am a post graduate student in Beijing University of Posts and Telecomunications,
                working in the Institute of Computing Technology of the Chinese Academy of Sciences.
                I work on machine learning and deep learning methods for intelligent transportation systems.
                I'm generally interested in transportation mode detection and traffic flow prediction based on
                spatio-temporal data and methods.
                If you have any ideas about this field and its related machine learning or deep learning methods, please
                mail me.
              </p>

              <p style="margin-top: 10px">
                Additionally, I'm currently the CTO of Finerit.com. It is welcomed to discuss any technical issues with
                me using email.
              </p>
            </div>
          </article>
          <!-- </div> -->
        </div>

        <div class="left-col">
          <h2 class="post-list-heading">Academic Activities and Publications</h2>
          <article class="post h-entry" itemscope="" itemtype="http://schema.org/BlogPosting">
            <div class="post-content e-content" itemprop="articleBody">
              <ul>
                <li><i>Oct 2019: </i>Y. Qin, H. Luo, F. Zhao, C. Wang, J. Wang and Y. Zhang, "Toward Transportation Mode Recognition Using Deep Convolutional and Long Short-Term Memory Recurrent Neural Networks," in IEEE Access, vol. 7, pp. 142353-142367, 2019.</li><a href="https://ieeexplore.ieee.org/document/8853261">Link</a>
                <li><i>Sep 2019: </i>Yanjun Qin, Chenxing Wang, and Haiyong Luo. 2019. Transportation recognition with the Sussex-Huawei Locomotion challenge. In Adjunct Proceedings of the 2019 ACM International Joint Conference on Pervasive and Ubiquitous Computing and Proceedings of the 2019 ACM International Symposium on Wearable Computers (UbiComp/ISWC '19 Adjunct). Proceedings of the 2019 ACM International Joint Conference on Pervasive and Ubiquitous Computing and Proceedings of the 2019 ACM International Symposium on Wearable Computers. London, United Kingdom, ACM: 798-802.  ACM, New York, NY, USA, 798-802. DOI: https://doi.org/10.1145/3341162.3344862.</li><a href="https://dl.acm.org/citation.cfm?id=3344862">Link</a>
                <li><i>Aug 2019: </i>Research on Attention based GCN method for TMD</li>
                <li><i>Jul 2019: </i>Previous consistent work on residual and LSTM networks</li>
              </ul>
            </div>
          </article>
        </div>

        <div class="left-col">
          <h2 class="post-list-heading">Open Source</h2>
          <article class="post h-entry" itemscope="" itemtype="http://schema.org/BlogPosting">
            <div class="post-content e-content" itemprop="articleBody">
              <ul>
                <li><i><a href="https://github.com/morningstarwang/go-finerit-messaging">GFM: </a></i>A gin based web framework for Finerit.com messaging service</li>

                <li><i><a href="https://github.com/morningstarwang/TMDMobileNG">TMDMobileNG: </a></i>Online learning
                  application for transportation mode detection</li>
                <li><i><a href="https://github.com/morningstarwang/tmd_server">tmd_server: </a></i>Server-side of
                  TMDMobileNG</li>
                <li><i><a href="https://github.com/morningstarwang/flutter_campus_social_app">FineritCampusSocailApp:
                    </a></i>A campus application for students</li>
              </ul>
            </div>
          </article>
        </div>

        <div class="left-col" style="margin-top: 5px">
          {%- if site.posts.size > 0 -%}
          <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
          <ul class="post-list">
            {%- for post in site.posts -%}
            <li>
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <span class="post-meta">{{ post.date | date: date_format }}</span>
              <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>
              {%- if site.show_excerpts -%}
              {{ post.excerpt }}
              {%- endif -%}
            </li>
            {%- endfor -%}
          </ul>
          <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
          {%- endif -%}
        </div>

      </div>

    </div>

    <div class="main-col main-col-2">
      <h2 class="post-list-heading">Contact Info</h2>
      <article class="post h-entry" itemscope="" itemtype="http://schema.org/BlogPosting">
        <div class="post-content e-content" itemprop="articleBody">
          <ul>
            <li>Email: <a href="mailto:morningstarwang@outlook.com">morningstarwang@outlook.com</a></li>
            <li>Github: <a href="https://github.com/morningstarwang">github.com/morningstarwang</a></li>
            <li>Linkedin: <a href="https://www.linkedin.com/in/ms-wang-678457b3/">Linkedin.com</a></li>
          </ul>
        </div>
      </article>

      <h2 class="post-list-heading">Finerit Activities</h2>
      <article class="post h-entry" itemscope="" itemtype="http://schema.org/BlogPosting">
        <div class="post-content e-content" itemprop="articleBody">
          <ul>                
            <li><i>Aug 2019: </i>Developing GFM</li>
          </ul>
        </div>
      </article>
    </div>
  </div>
</div>